<odoo>
    <data>
        <!-- Menu Course -->
        <record id="action_course_list" model="ir.actions.act_window">
            <field name="name">Daftar Course</field>
            <field name="res_model">academic.course</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Click To Add Course
                </p>
                <p>Klick tombol create untuk bikin course baru</p>
            </field>
        </record>

        <!-- Menu Session -->
        <record id="action_session_list" model="ir.actions.act_window">
            <field name="name">Daftar Sessio</field>
            <field name="res_model">academic.session</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Click To Add Session
                </p>
                <p>Klick tombol create untuk bikin session baru</p>
            </field>
        </record>

        <menuitem id="academic_0"
            name="Academic"
            sequence="20"
        />
        <menuitem id="academic_1"
            name="Academic"
            parent="academic_0"
            sequence="20"
        />
        <menuitem id="menu_academic_course"
            name="Course"
            parent="academic_1"
            action="action_course_list"
            sequence="20"
        />
        <menuitem id="menu_academic_session"
            name="Session"
            parent="academic_1"
            action="action_session_list"
            sequence="20"
        />
    </data>
</odoo>